<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js"></script>
    <title>Playlist Page</title>
  </head>
  <body>
    <div class="playlist-info row">
      <div class="col m6 s12 playlist-image">
        <img width="100%" src="http://patrickneder.com/content/summer-nights-cover.jpg" />
      </div>
      <div class="col m6 s12">
          <div class="playlist-title">Summer Nights</div>
          <div class="playlist-author">by <span>Creator Name</span></div>
          <div class="playlist-length"><span>25</span> songs, <span>10</span> hours</div>
          <div class="playlist-price darken-2 orange white-text chip">$0.20</div>
      </div>
    </div>
    <div class="playlist-songs">
      <table class="highlight">
        <thead>
          <tr>
              <th>Song</th>
              <th>Album</th>
              <th>Author<th>
          </tr>
        </thead>

        <tbody>
          <tr>
            <td>Song Name</td>
            <td>Album Name</td>
            <td>Author Name</td>
          </tr>
          <tr>
            <td>Simple Instructions</td>
            <td>Summer</td>
            <td>Sneek</td>
          </tr>
          <tr>
            <td>Toxicity</td>
            <td>Toxicity - Single</td>
            <td>System of a Down</td>
          </tr>
          <tr>
            <td>Song Name</td>
            <td>Album Name</td>
            <td>Author Name</td>
          </tr>
          <tr>
            <td>Song Name</td>
            <td>Album Name</td>
            <td>Author Name</td>
          </tr>
          <tr>
            <td>Song Name</td>
            <td>Album Name</td>
            <td>Author Name</td>
          </tr>
          <tr>
            <td>Song Name</td>
            <td>Album Name</td>
            <td>Author Name</td>
          </tr>
          <tr>
            <td>Song Name</td>
            <td>Album Name</td>
            <td>Author Name</td>
          </tr>
          <tr>
            <td>Song Name</td>
            <td>Album Name</td>
            <td>Author Name</td>
          </tr>
          <tr>
            <td>Song Name</td>
            <td>Album Name</td>
            <td>Author Name</td>
          </tr>
          <tr>
            <td>Song Name</td>
            <td>Album Name</td>
            <td>Author Name</td>
          </tr>
          <tr>
            <td>Song Name</td>
            <td>Album Name</td>
            <td>Author Name</td>
          </tr>
        </tbody>
      </table>
    </div>
  </body>
</html>
