
.about{
	width: 30%;
	display: inline-block;
	position: absolute;
	top:50px;
	left:0px;
}

.post{
	display: inline-block;
	width: 50%;
	position: absolute;
	top:50px;
	right: 10%;
}
.footer{	
	position: absolute;
	bottom:50px;
	left:40%;
}
center{
	width: 75%;
}
.menu-link{
	list-style-type: none;
	padding-left:0px; 
}

li{
	margin-left: 10px;
	display: inline;
}

.login button,.logout button{
	display: inline-block;
	position: absolute;
	top:150px;
	background-color: #0074d1;
	width:120px;
	font-family: arial;
	font-weight: bold;
	font-size: 25px;
	color: white;
	border: none;
	border-radius: 5px;
	height:35px;
	vertical-align: middle;
}
.login button{
	left:15vw;
}
.logout button{
	top:350px;
	left:10vw;
}
.logout{
	text-align: center;
}
.login button:hover,.logout button:hover{
	 background-color: #0074ff;
	 font-size: 28px;
	 cursor:pointer;
 }
@media only screen and (max-width: 700px){
	.post{
		top:450px;
		left:0px;
	}
	.footer{
		left:0px;
		bottom: 0px;
	}
	.logout button{
		top:370px;
	}
}
