<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="icon" href="img/music-player.png">
    <link rel="stylesheet" href="css/main.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <title>Playlist Store</title>
  </head>
  <body>
    <div class="main">
      <div id="scrollable" class="style-scroller">

        <!-- NAVIGATION -->
        <div class="nav">
            <a href="/" style="text-decoration: none">
                <h2 class="header_text"><img src="img/music-player.png" alt="Playlist List" id="playlist_list_logo">Playlist Store</h2>
            </a>
            <div class="nav-menu">
                <li><a href="/">Home</a></li>
                <% if( typeof user !== 'undefined'){ %>
                <li class="active_page">Store</li>
                <li><a href="/my-playlists">My Playlists</a></li>
                <% } %>
                <!-- <li><a href="/payment">Payment</a></li> -->
            </div>
        </div>
        <div class="playlist_list">
          <% if(typeof playlists !== "undefined"){ for(var i =0;i < playlists.length;i++){ %>
          <div class="playlist_box">
            <a href="/playlist-page/<%= playlists[i].youtubeId %> " target="_blank">
              <img src="<%= playlists[i].thumbnail %>" alt="" class="playlist_img">
              <p class="playlist_name" title="<%= playlists[i].title%>"><%= playlists[i].title%></p>
            </a>
            </div>
           </div>
          <% } } %>
        </div>
      </div>
    </div>
  </body>
</html>
