<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="icon" href="img/music-player.png">
    <link rel="stylesheet" href="css/playlist_list_style.css">
    <link rel="stylesheet" href="css/main.css">
    <title>Playlist List</title>
  </head>
  <body>
    <div class="main">
      <div class="nav">
        <h2 class="header_text"><img src="img/music-player.png" alt="Playlist List" id="playlist_list_logo">Playlist Store</h2>
        <div class="nav-menu">
          <li><a href="/">Home</a></li>
          <li class="active_page">Playlist List</li>
          <li><a href="/create">Create Playlist</a></li>
          <li><a href="/playlist-page">Playlist Page</a></li>
          <li><a href="/payment">Payment</a></li>
        </div>
      </div>
      <div class="playlist_list">
        <div class="playlist_box">
          <div class="playlist_img" style="background-image: url(img/music-player.png);"></div>
          <p class="playlist_name">Name</p>
        </div>
      </div>
      <div class="buy_bar">
        <a href="/payment"><button type="button" name="button" class="buy_button">Buy</button></a>
        <a href="/create"><button type="button" name="button" class="create_button">Create</button></a>
      </div>
    </div>
  </body>
</html>
