<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="icon" href="img/music-player.png">
    <link rel="stylesheet" href="css/playlist_list_style.css">
    <link rel="stylesheet" href="css/main.css">
    <title>My Playlists</title>
  </head>
  <body>
    <div class="main">

      <div id="scrollable" class="style-scroller">

        <div class="nav">
          <a href="/" style="text-decoration: none">
            <h2 class="header_text"><img src="img/music-player.png" alt="Playlist List" id="playlist_list_logo">Playlist Store</h2>
          </a>
          <div class="nav-menu">
            <li><a href="/">Home</a></li>
            <% if( typeof user !== 'undefined'){ %>
      			<li><a href="/my-playlists">My Playlists</a></li>
      			<% } %>
            <!-- <li><a href="/create">Create Playlist</a></li>
            <li><a href="/payment">Payment</a></li> -->
          </div>
        </div>

        <div class="playlist_list">
          <% if(typeof playlists !== "undefined"){ for(var i =0;i < playlists.length-1;i++){ %>
          <a href="/playlist-page/<%= playlists[i].id %> " target="_blank"><div class="playlist_box">
            <!--<div class="playlist_img" style=" background-image: url(<%= playlists[i].snippet.thumbnails.medium.url %>);"></div>-->
            <img src="<%= playlists[i].snippet.thumbnails.medium.url %>" alt="" class="playlist_img">
            <p class="playlist_name" title="<%= playlists[i].snippet.title%>"><%= playlists[i].snippet.title%></p>
           </div>
          </a>
          <% } } %>
        </div>

      </div>

      <div class="buy_bar">
        <a href="/payment"><button type="button" name="button" class="buy_button">Buy</button></a>
        <a href="/create"><button type="button" name="button" class="create_button">Create</button></a>
      </div>

    </div>
  </body>
</html>
