<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="icon" href="music-player.png">
    <link rel="stylesheet" href="playlist_list_style.css">
    <title>Playlist List</title>
  </head>
  <body>
    <div class="main">
      <div class="nav">
        <h2 class="header_text"><img src="music-player.png" alt="Playlist List" id="playlist_list_logo">Playlist List</h2>
      </div>
      <div class="playlist_list">

      </div>
      <div class="buy_bar">
        <button type="button" name="button" class="buy_button">Buy</button>
      </div>
    </div>
  </body>
</html>
