<!DOCTYPE html>
<html>
<head>
	<title>Create</title>
</head>
<style type="text/css">
	h1{
		text-align: center;
	}
	.input-field{
		position: absolute;
		left:50%;
		width:500px;
		margin-left:-250px;
		font-size: 20px;
		top:100px;
	}
	.input-line{
		position: absolute;
		left:50%;
		margin-left: -50px;
		border-radius: 5px;
	}
	#add-button{
		border:1px solid green;
		height:25px;
		width:50px;
		text-align: center;
		border-radius: 10px;
		position: absolute;
		right:10px;
	}
</style>
<body>
	
	<div class="input-field">
		<h1>Create Playlist to Sell</h1>
		playlist-name:<input type="text" name="playlist-name"  class="input-line" size="30">
		<br><br><br>
		music-url:<input type="text" name="music-url" class="input-line" size="30">
		<br><br><div id = "add-button" >Add</div>	
	</div>
	

</body>
</html>