<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Meta Tag -->
    <meta charset="UTF-8">
    <title>Pplaylist Shop</title>
    <!-- All CSS Plugins -->
    <link rel="stylesheet" type="text/css" href="css/style.css">

  </head>
 <body>
    <center>
                <div class="about">
                      <img src="images/my-pic.png">
                         <div id="menu">
                           <ul class="menu-link">
                               <li><a href="/my_playlists">My Playlist</a></li>
                               <li><a href="/bought_playlists">Bought Playlist</a></li>
                            </ul>
                         </div>
                </div>
                <div class="post">
                      <div class="post-title">
                          <h1>News</h1>
                      </div>  
                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae ut ratione similique temporibus tempora dicta soluta? Qui hic, voluptatem nemo quo corporis dignissimos voluptatum debitis cumque fugiat mollitia quasi quod. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae ut ratione similique.</p>
         
                      <div class="post-info">
                      	<span>November 23, 2016 / by <a href="#" target="_blank">Alex Parker</a></span>
                      </div>  
                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae ut ratione similique temporibus tempora dicta soluta? Qui hic, voluptatem nemo quo corporis dignissimos voluptatum debitis cumque fugiat mollitia quasi quod. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae ut ratione similique.</p>
                      <div class="post-info">
                        <span>November 23, 2016 / by <a href="#" target="_blank">Alex Parker</a></span>
                      </div>  
                 </div>
         <div class="footer">
            <footer>

            <p>© Copyright 2016 All rights reserved</p>

           </footer>
         </div>
     </center>
    </body>
 </html>
