<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Meta Tag -->
    <meta charset="UTF-8">
    <title>Playlist Store</title>
    <!-- All CSS Plugins -->
      <link rel="icon" href="img/music-player.png">
      <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" type="text/css" href="css/style.css">

  </head>
 <body class="style-scroller">
     <div class="nav">
         <a href="/" style="text-decoration: none">
             <h2 class="header_text"><img src="img/music-player.png" alt="Playlist List" id="playlist_list_logo">Playlist Store</h2>
         </a>
         <div class="nav-menu">
             <li class="active_page">Home</li>
             <% if( typeof user !== 'undefined'){ %>
             <li><a href="/my-playlists">My Playlists</a></li>
             <% } %>
             <!-- <li><a href="/create">Create Playlist</a></li>
             <li><a href="/payment">Payment</a></li> -->
         </div>
     </div>

        <div class="main">
            <div class="reg_bar">
                <% if( typeof user !== 'undefined'){ %>

                <div class="about" >
                    <img style="border-radius: 10px;width: 100%" src=" <%=user.photos.split("=")[0]+"=250"%> ">
                    <p id = "user_name"> <%=user.displayName%> </p>
                    <div id="menu">
                        <ul class="menu-link">
                            <!-- <li><a href="/playlist-list">My Playlist</a></li>
                            <li><a href="/playlist-page">Bought Playlist</a></li> -->
                        </ul>
                    </div>

                    <div class="logout">
                        <a href="/logout"><button id="logout" style="font-size: 18px;">Logout</button></a>
                    </div>
                </div>

                <%}%>
                <div class="login" <% if( typeof user!== 'undefined'){%> style='display:none;'<%}%>>
                        <a href="/auth/google"><button id="log" <% if( typeof user!== 'undefined'){%> style='display:none;'<%}%> >Login</button></a>
                        <span>Through Google</span>
                </div>
            </div>

     <div class="divider"></div>
         <div class="post">
             <div class="post-title">
                 <h1>News</h1>
             </div>
             <p><b>Spotify</b> is a music, podcast, and video streaming service, officially launched on <b>7 October 2008</b>. It is developed by startup <b>Spotify</b> AB in Stockholm, Sweden. It provides digital rights management-protected content from record labels and media companies. Spotify is a freemium service, meaning that basic features are free with advertisements, while additional features, including improved streaming quality and offline music downloads, are offered via paid subscriptions.</p>

             <div class="post-info">
                 <span>July 3, 2017 / by <a href="https://www.spotify.com" target="_blank">Spotify</a></span>
             </div>
             <p>It provides advertising-free streaming of all videos hosted by <b>YouTube</b>, offline play and background playback of videos on mobile devices, access to advertising-free music streaming through Google Play Music, and access to <b>"YouTube Red Original"</b> series and films.</p>
             <div class="post-info">
                 <span>July 2, 2017 / by <a href="https://www.youtube.com/red" target="_blank">YouTube Red</a></span>
             </div>
         </div>

     </div>







         <div class="footer">
             <footer>

                 <p style="margin: 0px;"><span style="vertical-align: 15px;margin-right: 10px;">© Copyright Playlist Store 2017</span> <img src="img/certified.png" alt="" style="width: 80px;" title="Playlist Store is YouTube Certified" alt="Playlist Store is YouTube Certified"></p>

             </footer>
         </div>

    </body>
 </html>
