<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Meta Tag -->
    <meta charset="UTF-8">
    <title>Playlist Store</title>
    <!-- All CSS Plugins -->
      <link rel="icon" href="img/music-player.png">
      <link rel="stylesheet" href="css/main.css">
      <link rel="stylesheet" type="text/css" href="css/style.css">
      <style media="screen">
        .main h1{
          color: #8c8c8c;
          text-align: center;
        }
      </style>
  </head>
 <body class="style-scroller">
     <div class="nav">
         <a href="/" style="text-decoration: none">
             <h2 class="header_text"><img src="img/music-player.png" alt="Playlist List" id="playlist_list_logo">Playlist Store</h2>
         </a>
         <div class="nav-menu">
             <li class="active_page">Home</li>
             <% if( typeof user !== 'undefined'){ %>
             <li><a href="/store">Store</a></li>
             <li><a href="/my-playlists">My Playlists</a></li>
             <% } %>
             <!-- <li><a href="/payment">Payment</a></li> -->
         </div>
     </div>

        <div class="main">
          <h1>Payment Settings</h1>
        </div>


         <div class="footer">
             <footer>

                 <p style="margin: 0px;"><span style="vertical-align: 15px;margin-right: 10px;">© Copyright Playlist Store 2017</span> <img src="img/certified.png" alt="" style="width: 80px;" title="Playlist Store is YouTube Certified" alt="Playlist Store is YouTube Certified"></p>

             </footer>
         </div>

    </body>
 </html>
