<!DOCTYPE html>
<html>
<head>
	<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="css/payment.css">
	<link rel="stylesheet" href="css/main.css">
</head>
<body>
<div class="nav">
	<h2 class="header_text"><img src="img/music-player.png" alt="Playlist List" id="playlist_list_logo">Playlist Store</h2>
	<div class="nav-menu">
		<li><a href="/">Home</a></li>
		<li><a href="/playlist-list">Playlist List</a></li>
		<li><a href="/create">Create Playlist</a></li>
		<li><a href="/playlist-page">Playlist Page</a></li>
		<li class="active_page">Payment</li>
	</div>
</div>
<div class='wrapper'>
	<img src="img/img.png" class="nkar">
	<h1>Playlist Name 1 $</h1>
	<a class='buy'>Great selection !!! Buy</a>
</div>
</body>
</html>